<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>
    <!-- Child config's connection strings -->
  </connectionStrings>
  <system.webServer>
    <!--    <modules runAllManagedModulesForAllRequests="true">-->
    <!--      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    <!--    </modules>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="2097152"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="KineticUI.SceneServiceBinding" maxReceivedMessageSize="10485760" maxBufferSize="10485760">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="KineticUI.EffectsAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="KineticUI.SceneServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="KineticUI.SimStateAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="KineticUI.PatternServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="KineticUI.SimServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="KineticUI.Effects">
        <endpoint address="" behaviorConfiguration="KineticUI.EffectsAspNetAjaxBehavior" binding="webHttpBinding" contract="KineticUI.Effects"/>
      </service>
      <service name="KineticUI.SceneService">
        <endpoint address="" behaviorConfiguration="KineticUI.SceneServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="KineticUI.SceneService" bindingConfiguration="KineticUI.SceneServiceBinding"/>
      </service>
      <service name="KineticUI.SimState">
        <endpoint address="" behaviorConfiguration="KineticUI.SimStateAspNetAjaxBehavior" binding="webHttpBinding" contract="KineticUI.SimState"/>
      </service>
      <service name="KineticUI.PatternService">
        <endpoint address="" behaviorConfiguration="KineticUI.PatternServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="KineticUI.PatternService"/>
      </service>
      <service name="KineticUI.SimService">
        <endpoint address="" behaviorConfiguration="KineticUI.SimServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="KineticUI.SimService"/>
      </service>
    </services>
    <!--<serviceHostingSceneServiceEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
</configuration>