/*
*@Author: Jacqui Manzi
*Novemeber 22nd, 2013
*jacqui@revkitt.com
*
* KineticSpectrum.js - Main css for all non-dojo css classes.
*/
body {

    font-family: 'Lato', sans-serif;
    background-color:black;
    height:100%;
    width:100%;
    padding:0;
    border:0;
    margin:0;
    font-size: smaller;
    font-weight: normal; 
}

.designMenu {   
    
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;    
}

.designMenu::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.designMenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: rgba(57, 57, 57, 0.9);
}

/*.designMenu::-webkit-scrollbar-track:hover {
  background-color: rgba(57, 57, 57, 0.9);
}*/

/* Handle */
.designMenu::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*.designMenu::-webkit-scrollbar-thumb:hover {    
 background: rgba(151, 151, 151, 0.9); 
}*/

#mainContainer {   
    height: 100%;  
    width: 100%;
}

.arrowButton {
    background-color: rgb(45, 45, 45);
}

.arrowButton:hover{

    cursor: pointer;
    background-color: #232323;

}
 