<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web>   
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="32768"/>   
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebApplication1.EffectsAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebApplication1.SceneServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebApplication1.SimStateAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebApplication1.PatternServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebApplication1.SimServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WebApplication1.Effects">
        <endpoint address="" behaviorConfiguration="WebApplication1.EffectsAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebApplication1.Effects" />
      </service>
      <service name="WebApplication1.SceneService">
        <endpoint address="" behaviorConfiguration="WebApplication1.SceneServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebApplication1.SceneService" />
      </service>
      <service name="WebApplication1.SimState">
        <endpoint address="" behaviorConfiguration="WebApplication1.SimStateAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebApplication1.SimState" />
      </service>
      <service name="WebApplication1.PatternService">
        <endpoint address="" behaviorConfiguration="WebApplication1.PatternServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebApplication1.PatternService" />
      </service>
      <service name="WebApplication1.SimService">
        <endpoint address="" behaviorConfiguration="WebApplication1.SimServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebApplication1.SimService" />
      </service>
    </services>
    <!--<serviceHostingSceneServiceEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
</configuration>