
body {

    background-color:black;
    height:100%;
    width:100%;
    padding:0;
    border:0;
    margin:0;
}

.designMenu {   
    
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;    
}

.designMenu::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.designMenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(57, 57, 57, 0.9);
}

.designMenu::-webkit-scrollbar-track:hover {
  background-color: rgba(57, 57, 57, 0.9);
}

/* Handle */
.designMenu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(100, 100, 100);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.designMenu::-webkit-scrollbar-thumb:hover {    
 background: rgba(151, 151, 151, 0.9); 
}

#mainContainer {   
    height: 100%;  
    width: 100%;
}

.arrowButton {
    background-image: linear-gradient(left, rgb(41,41,41) 44%, rgb(23,23,23) 72%, rgb(0,0,0) 86%);
    background-image: -o-linear-gradient(left, rgb(41,41,41) 44%, rgb(23,23,23) 72%, rgb(0,0,0) 86%);
    background-image: -moz-linear-gradient(left, rgb(41,41,41) 44%, rgb(23,23,23) 72%, rgb(0,0,0) 86%);
    background-image: -webkit-linear-gradient(left, rgb(41,41,41) 44%, rgb(23,23,23) 72%, rgb(0,0,0) 86%);
    background-image: -ms-linear-gradient(left, rgb(41,41,41) 44%, rgb(23,23,23) 72%, rgb(0,0,0) 86%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.44, rgb(41,41,41)), color-stop(0.72, rgb(23,23,23)), color-stop(0.86, rgb(0,0,0)) );
}

.arrowButton:hover{

    cursor: pointer;

    background-image: linear-gradient(left, rgb(45,45,45) 44%, rgb(25,25,25) 72%, rgb(0,0,0) 86%);
    background-image: -o-linear-gradient(left, rgb(45,45,45) 44%, rgb(25,25,25) 72%, rgb(0,0,0) 86%);
    background-image: -moz-linear-gradient(left, rgb(45,45,45) 44%, rgb(25,25,25) 72%, rgb(0,0,0) 86%);
    background-image: -webkit-linear-gradient(left, rgb(45,45,45) 44%, rgb(25,25,25) 72%, rgb(0,0,0) 86%);
    background-image: -ms-linear-gradient(left, rgb(45,45,45) 44%, rgb(25,25,25) 72%, rgb(0,0,0) 86%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.44, rgb(45,45,45)), color-stop(0.72, rgb(25,25,25)), color-stop(0.86, rgb(0,0,0)) );


}
 